<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.EmpMapper">
<select id="findAll" resultType="empVo" parameterType="empVo">
select e.*,d.name dname from tb_emp e,dept d
<where>
e.tb_emp_did=d.id
<if test="tbEmpName!=null and tbEmpName!=''">
and tb_emp_name like '%${tbEmpName}%'
</if>
<if test="age1!=null">
and tb_emp_age &gt;=#{age1}
</if>
<if test="age2!=null">
and tb_emp_age &lt;=#{age2}
</if>
<if test="birthday1!=null">
and tb_emp_birthday &gt;=#{birthday1}
</if>
<if test="birthday2!=null">
and tb_emp_birthday &lt;=#{birthday2}
</if>
<if test="tbEmpDid!=null and tbEmpDid!=0">
and tb_emp_did=#{tbEmpDid}
</if>
</where>
</select>

 </mapper>